 <div class="span9">
          <div class="row-fluid">
              
              <hr/>

              <form action='/adminuser/login' method='post'>
              		账号<input name='username' />
              		密码<input type='password' name='password'/>
              		<input type='submit'/>
              </form>
          </div>
        </div>