<form action="/home/dictionary" method="POST">
<label>value_id</label>
<input type="text" name="value_id">
<br/>
<label>value_content</label>
<input type="text" name="value_content">
<br/>
<label>value_content_cn</label>
<input type="text" name="value_content_cn">
<br/>
<label>value_type</label>
<input type="text" name="value_type">
<br/>
<input type="submit" value="提交">
</form>