<% @dictionaries.each do |dictionary| %>
<div class="hero-unit">
	<label>Value_id:<%= dictionary.value_id %></label>
	</br>
	<label>Value_content:<%= dictionary.value_content %></label>
	<br/>
	<label>Value_content_cn:<%= dictionary.value_content_cn %></label>
	</br>
	<label>Value_type:<%= dictionary.value_type %></label>
	</br>
	</br>
</div>
<% end %>